nav{
    min-height: 60px;
    width: 100%;
    margin: 0% auto;
    border-top:solid 3px #efaf39;
    box-shadow: 0 1px 10px  #c6bebda9;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 5px 20px;
}
.nav-logo{
    width: 140px;
    padding: 3px;
    height: 100%;
    transition: .5s;
    border-radius: 20px;
}
.nav-logo:hover{
    background-color: #ebebeb;
    
}

.nav-items{
    margin: 0 4px;
    font-size: medium;
    font-weight: 500;
    color: rgb(114, 113, 113);
    transition: 0.7s;
    
}
.nav-btn{
    padding: 10px 24px;
    border-radius: 15px;
    cursor: pointer;
}
.nav-btn:hover{
    background-color: #3c343426;
}
.navbar form{
    position: relative;
    flex-grow: 1;
    padding: 0px 20px;
}
.navbar form input{
    min-width: 90%;
    margin: 0;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 9px;
    box-shadow:inset 0 0px 6px #dad9d0fe;
}
.navbar form .icon{
    position: absolute;
    left: 28px;
    top: 10px;
    width: 20px;

}

.nav-links{
    padding: 8px 10px;
    border: 2px solid #bbbbf0c3;
    border-radius: 10px;
    background-color: #4e66eeea;
    font-size: 15px;
    box-shadow: 0 0 5px #4e65e28b;
    color: white;
    transition: all .7s;
}
.nav-links:hover{
    border-color: #0940b6;
    transform: scale(1.05);
}